<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Malesh_Banner::banner" title="Banner" sortOrder="10" >
                        <resource id="Malesh_Banner::banner_content" title="banner_content" sortOrder="40"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Malesh_Banner::config_banner" title="Config" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>